.premier {color: #000;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%;
    
    }

.second {display: flex;
    width: 124px;
    height: 46px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    color: #000;
    font-family: Montserrat;
    font-size: 25px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;}

.troisieme {display: flex;
    width: 324px;
    height: 195px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    color: #000;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%;
    }