.ligne_blanche1 {
    width: 275px;
    
    height: 3px;
    
    background-color: #ffffff;
    
    margin-left:50px ;

}

.ligne_blanche2 {
    width: 275px;

    height: 3px;

    background-color: #ffffff;

    margin-left: 50px;
    margin-top: 10px;

}
.bande_bleue_footer {
    background: linear-gradient(to top, var(--blue), #ffffff);
        height: 350px;
        width: 500px;
        margin-left: -10px;
        
}

.contact {
    width: 93.266px;
        height: 19.785px;
        flex-shrink: 0;
    color: #FFF;
        font-family: Roboto;
        font-size: 18px;
        font-style: normal;
        font-weight: 500;
        line-height: 110%;
    text-decoration: none !important;
}

.position_contact {
    
    margin-top: 60px;
    margin-left: 135px;
}

.name {
    width: 308.57px;
        height: 46.764px;
        flex-shrink: 0;
    color: #FFF;
        font-family: Roboto;
        font-size: 20px;
        font-style: normal;
        font-weight: 500;
        line-height: 110%;
    margin-left: 70px; 
    margin-top: 40px;       
}

.pedagogie {
    width: 200px;
        height: 122px;
        flex-shrink: 0;
    color: #F8F8F8;
        font-family: Roboto;
        font-size: 14px;
        font-style: normal;
        font-weight: 500;
        line-height: 110%;
    margin-left: 20px;
    margin-top:40px ;
}

.cartier {
    margin-top: -60px;
}



.position_logo {
    margin-left: 250px;
    margin-top: -200px;
    
}