.bande_longue {
    position: relative;
    width: 250px;
        height: 2300px;
        flex-shrink: 0;
    background: rgba(46, 54, 138, 0.71);
    margin-left: 62.5px;
    margin-top: -120px;
    border-bottom-left-radius: 50px;  
    border-bottom-right-radius: 50px
}



.recadrage_titre {
    margin-top: 25px ;
    margin-left: 35px ;
}

.dates {
    
    background-color: var(--blue);
    height: 32px;
    width: 62.5px;
    margin-top: 0px;
    margin-left: 250px;
}

.absolu {
    position: absolute;
}

.batiment {
    display: flex;
        width: 248px;
        height: 66px;
        justify-content: center;
        align-items: center;
        flex-shrink: 0;
    color: #FBF9F9;
        text-align: center;
        font-family: MuseoModerno;
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
}
.image{
    margin-top: -35px;
    
}



.foot {
    margin-top: 100px;
}

.annee {
    display: flex;
        width: 45px;
        height: 22px;
        justify-content: center;
        align-items: center;
        flex-shrink: 0;
    color: #FBF9F9;
        text-align: center;
        font-family: Roboto;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: 150%;
        
}

.ensavoirplus {
    background-color: var(--blue);
    height: 40px;
    width: 149px;
    margin-top: -50px;
    margin-left: 140px;

}

.image1 {
    

    z-index: -1;
}

.cadre2 {
    position: relative;
    
    width: 50%;
    
    background-color: #2E368A;
    padding: 1%;
    
    color: #fff;
    font-family: Roboto;
   
    text-align: center;
    margin-left:150px; 
    margin-top: -35px;
    border: 2px solid #000;
    box-sizing: border-box;
    ;}