.header {
    padding: 100px var(--space3x);
}

.header--home {
    background-color: var(--blue);
}

.back {
    width: 375px;
    height: 121px;
    flex-shrink: 0;
    background-color: var(--blue)
}

.title {
    display: flex;
    width: 250px;
    height: 46px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
}


.header__logo-link,
.header__menu-btn {
    position: absolute;
}

.header__logo-link {
    left: 20px;
    top: 10px;
}

.header__menu-btn {
    right: 20px;
    top: 20px;
    z-index: 2;
}

.header__title,
.header__intro {
    border-bottom: 1px solid;
    padding-bottom: var(--space3x);
}

.header__title--home {
    font-size: 3.3rem;
    font-family: var(--font-serif);
    font-weight: normal;
}

.header__intro {
    font-size: var(--text-xl);
    font-weight: 500;
}