.titre_menu {
    font-size: 60px;
    font-family: Stick No Bills;
    margin-top: -335px;
    margin-left: 93px;
}

.croix {
    margin-top: -320px;
    margin-left: 275px;
}

.elt1 {
    margin-top: -450px;
    text-decoration: none;
    color: #000000;
}

.elt2 {
    margin-top: -400px;
    text-decoration: none;
    color: #000000;
}

.elt3 {
    margin-top : -350px;
    text-decoration: none;
    color: #000000;
}

.elt4 {
    margin-top : -300px;
    text-decoration: none;
    color: #000000;
}